
<h3> Customers List</h3>
<hr />
<p class="text-right"> <a  class="btn btn-primary">Add new</a></p>
<div class="row">
    <div class="col-10">

        <table class="table table-bordered table-responsive table-primary table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th> Name</th>
                    <th> Email</th>
                    <th>Mobile</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td class="text-center"></td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td>
                       
                    </td>
                </tr>
          
            </tbody>
        </table>

    </div>
</div>
