@page
@model BindingRoute.Pages.Customer.AddModel

    @{
    ViewData["Title"] = "Add new Customer";
}
    <form method="post">
        <partial name="_CustomerPartial" model="Model.Customer" />

        <div class=" offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-page="./Index" class="btn btn-warning"> Back to Home</a>
        </div>
    </form>

    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }